<header class="main-header">
    <a href="" class="logo">
        <span class="logo-lg">
            <b>UNSICHTBAR e.V.</b>
        </span>
    </a>
    <nav class="navbar navbar-static-top">
        <a href="" class="sidebar-toggle" data-toggle="push-menu" role="button">
            <span class="sr-only">Toggle navigation</span>
        </a>
    </nav>
</header>
<aside class="main-sidebar">
    <section class="sidebar">
        <ul class="sidebar-menu" data-widget="tree">
            <li class="header">NAVIGATION</li>
            <li {$menu.dashboard}>
                <a href="">
                    <i class="fa fa-dashboard"></i>
                    <span>Dashboard</span>
                </a>
            </li>
            <li {$menu.unterkuenfte}>
                <a href="unterkuenfte/">
                    <i class="fa fa-users"></i>
                    <span>Unterkünfte</span>
                    <ul class="treeview-menu">
                        <li {$menu.unterkunft_anlegen}><a href="unterkunft-anlegen/"><i class="fa fa-user-plus"></i> Unterkunft anlegen</a></li>
                    </ul>
                </a>
            </li>

            <li {$menu.unterkunft_suche}>
                <a href="suche/">
                    <i class="fa fa-search"></i>
                    <span>Unterkunft Suche</span>
                </a>
            </li>

            <li>
                <a href="logout.php">
                    <i class="fa fa-sign-out"></i>
                    <span>Logout</span>
                </a>
            </li>

        </ul>
    </section>
</aside>
