{% include 'header.html' %}
<div class="wrapper">
  {% include 'menu.html' %}

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>ToDo - Projekte</h1>
          </div>
          <!-- <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Aufgaben</li>
            </ol>
          </div> -->
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
            <div class="col-md-3 col-sm-6 col-12">
                {% for project in projects %}
                <div class="info-box">
                  <span class="info-box-icon bg-info"><i class="far fa-flag"></i></span>
    
                  <div class="info-box-content">
                    <span class="info-box-text"><b>{{ project.name }}</b></span>
                    <span class="info-box-number"><form action="/todo/tasks" method="POST">
                        <input type="hidden" id="project_id{{ project.id }}" name="project_id" value="{{ project.id }}">
                        <button class="py-2 my-2 btn btn-info" type="submit" style="width:100%; height:100%;">ÖFFNEN</button>
                    </form></span>
                  </div>
                  <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
                {% endfor %}
              </div>
              <!-- /.col -->
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  {% include 'footer.html' %}
  <!-- Page specific script -->
  <script>
  $(function () {
    bsCustomFileInput.init();
  });
  </script>

