{% include 'header.html' %}
<div class="wrapper">
  {% include 'menu.html' %}

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>ToDo - Aufgaben</h1>
          </div>
          <!-- <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Aufgaben</li>
            </ol>
          </div> -->
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <!-- left column -->
          <div class="col-md-6">
            <!-- general form elements -->
            
            <!-- TO DO List -->
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">
                  <i class="ion ion-clipboard mr-1"></i>
                  To Do List - <b>{{ sumduration }}</b>
                </h3>

                <div class="card-tools">
                  <ul class="pagination pagination-sm">
                    <li class="page-item"><a href="#" class="page-link">&laquo;</a></li>
                    <li class="page-item"><a href="#" class="page-link">1</a></li>
                    <li class="page-item"><a href="#" class="page-link">2</a></li>
                    <li class="page-item"><a href="#" class="page-link">3</a></li>
                    <li class="page-item"><a href="#" class="page-link">&raquo;</a></li>
                  </ul>
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <ul class="todo-list" data-widget="todo-list" >
                  {% for task in tasks %}
                  <li>
                    <!-- drag handle -->
                    <span class="handle">
                    </span>
                    <!-- checkbox -->
                    <div  class="icheck-primary d-inline ml-2">
                      <input type="checkbox" value="{{ task.id }}" name="todo" {{ task.is_done ? 'checked'}}>
                      <label for="todoCheck1"></label>
                    </div>
                    <!-- todo text -->
                    <span class="text">{{ task.text }}</span>
                    <!-- Emphasis label -->
                    {{ task.duration ? '<small class="badge badge-info"><i class="far fa-clock"></i>'|raw}} {{ task.duration ? task.duration}} {{task.duration ? '</small>'|raw}}
                    
                    <!-- General tools such as edit or delete-->
                    <div class="tools">
                      <span class="task-time" data-link="task-time/{{ task.id }}"><i class="far fa-clock"></i></span>
                      <span class="task-edit" data-link="task-edit/{{ task.id }}"><i class="fas fa-edit"></i></span>
                      <span class="task-delete" data-link="task-delete/{{ task.id }}"><i class="fa fa-trash"></i></span>
                    </div>
                  </li>
                  {% endfor %}
                </ul>
              </div>
              <!-- /.card-body --> 
              <div class="card-footer clearfix">
                  <a href="task-create"><button type="button" class="btn btn-info float-right"><i class="fas fa-plus"></i> Neue Aufgabe</button></a>
              </div>
            </div>
            <!-- /.card -->
            
          </div>
          <!--/.col (right) -->
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  {% include 'footer.html' %}
  <!-- Page specific script -->
  <script>
  $(function () {
    bsCustomFileInput.init();
  });

  $('#my-todo-list').TodoList({
  onCheck: function(checkbox) {
    // Do something when the checkbox is checked
    alert(checkbox);
  },
  onUnCheck: function(checkbox) {
    // Do something after the checkbox has been unchecked
    alert(checkbox);
  }
})
  </script>
