{% include 'header.html' %}
<div class="wrapper">
  {% include 'menu.html' %}

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>ToDo - Aufgaben [{{ sumduration }}]</h1>
          </div>
          <!-- <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Aufgaben</li>
            </ol>
          </div> -->
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <!-- left column -->
          <div class="col-md-6">
            <!-- general form elements -->
            
            <!-- TO DO List -->
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">
                  <i class="ion ion-clipboard mr-1"></i>
                  Heutige Aufgaben <b>[{{ sumduration_today }}]</b>
                </h3>

                <!-- <div class="card-tools">
                  <ul class="pagination pagination-sm">
                    <li class="page-item"><a href="#" class="page-link">&laquo;</a></li>
                    <li class="page-item"><a href="#" class="page-link">1</a></li>
                    <li class="page-item"><a href="#" class="page-link">2</a></li>
                    <li class="page-item"><a href="#" class="page-link">3</a></li>
                    <li class="page-item"><a href="#" class="page-link">&raquo;</a></li>
                  </ul>
                </div> -->
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <ul class="todo-list" id="my-todo-list" data-widget="todo-list" >
                  {% for task in tasks %}
                  <li>
                    <!-- drag handle -->
                    <span class="handle">
                    </span>
                    <!-- checkbox -->
                    <div  class="icheck-primary d-inline ml-2">
                      <input type="checkbox" value="{{ task.id }}" name="todo" {{ task.is_done ? 'checked'}}>
                      <label for="todoCheck1"></label>
                    </div>
                    <!-- todo text -->
                    <span class="text">{{ task.text }}</span>
                    <!-- Emphasis label -->
                    {{ task.duration ? '<small class="badge badge-info"><i class="far fa-clock"></i>'|raw}} {{ task.duration ?? ''}} {{task.duration ? '</small>'|raw}}
                    <!-- Description Label -->
                    {{task.description ? '<i class="ml-2 far fa-comment-alt" class="btn btn-secondary" data-bs-toggle="tooltip" data-placement="right" data-html="true" title="<p>'|raw}} {{ task.description ? task.description|raw}} {{ task.description ? '</p>"></i>'|raw}}
                    <!-- General tools such as edit or delete-->
                    <div class="tools">
                      <span class="task-time" data-link="task-time/{{ task.id }}"><i class="far fa-clock"></i></span>
                      <span class="task-edit" data-link="task-edit/{{ task.id }}"><i class="fas fa-edit"></i></span>
                      <span class="task-delete" data-link="task-delete/{{ task.id }}"><i class="far fa-trash-alt"></i></span>
                    </div>
                  </li>
                  {% endfor %}
                </ul>
              </div>
              <!-- /.card-body --> 
              <div class="card-footer clearfix">
                  <a href="task-create"><button type="button" class="btn btn-info float-right"><i class="fas fa-plus"></i> Neue Aufgabe</button></a>
              </div>
            </div>
            <!-- /.card -->
            
          </div>
          <!--/.col (right) -->

          <!-- right column -->
          <div class="col-md-6">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Erledigte Aufgaben <b>[{{ sumduration_done }}]</b></h3>
                <a href="bill-create"><button type="button" class="btn btn-info float-right"><i class="fas fa-receipt"></i> Abrechnen</button></a>
              </div>
              <!-- /.card-header -->
              <div class="card-body table-responsive p-0" style="height: 300px;">
                <table class="table table-sm table-head-fixed text-nowrap">
                  <thead>
                    <tr>
                      <th>Aufgabe</th>
                      <th>Erledigt</th>
                      <th style="width: 40px">Dauer</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for done_task in done_tasks %}
                    <tr>
                      <td>{{ done_task.text }}</td>
                      <td>{{ done_task.timestamp_done }}</td>
                      <td>{{ done_task.duration ? '<span class="badge bg-info"><i class="far fa-clock"></i>'|raw}} {{ done_task.duration ?? '' }} {{done_task.duration ? '</span>'|raw}}</td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
              
            </div>
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Abgerechnete Aufgaben <b>[{{ sumduration_billed }}]</b></h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body table-responsive p-0" style="min-height: 100px; max-height: 300px;">
                <table class="table table-sm table-head-fixed text-nowrap">
                  <thead>
                    <tr>
                      <th>Titel</th>
                      <th>Gezahlt?</th>
                      <th>Dauer</th>
                      <th>€/h</th>
                      <th>Wert</th>
                      <th style="width: 40px">Erstellt</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for bill in bills %}
                    <tr>
                      <td>{{ bill.title }}</td>
                      <td align="center"  style="width: 50px">{{ bill.is_paid == 0 ? '<i class="far fa-circle"></i>' : '<i class="far fa-check-circle"></i>' }}</td>
                      <td style="width: 80px">{{ bill.sum_duration }}</td>
                      <td style="width: 60px">{{ bill.hour_pay }}</td>
                      <td style="width: 100px">{{ bill.pay }}</td>
                      <td>{{ bill.timestamp }}</td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
              
            </div>
            <!-- /.card-body -->
          </div>
          <!--/.col (right) -->
          
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  {% include 'footer.html' %}
  <!-- Page specific script -->
  <script>
  $(function () {
    bsCustomFileInput.init();
  });

  $('#my-todo-list').TodoList({
  onCheck: function(checkbox) {
    // Do something when the checkbox is checked
    alert("test");
  },
  onUnCheck: function(checkbox) {
    // Do something after the checkbox has been unchecked
    alert("test");
  }
})
  </script>
