{% include 'header.html' %}
<div class="wrapper">
  {% include 'menu.html' %}

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>ToDo - Aufgabe erstellen</h1>
          </div>
          <!-- <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Aufgaben</li>
            </ol>
          </div> -->
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                
              <div class="card card-primary">
                <div class="card-header">
                  <h3 class="card-title">Eingabe</h3>
                </div>
                <!-- /.card-header -->
                <!-- form start -->
                <form action="task-insert" method="POST">
                  <input type="hidden" id="project_id" name="project_id" value="{{ project_id }}">
                  <div class="card-body">
                    <div class="form-group">
                      <label for="exampleInputEmail1">Aufgabe</label>
                      <input type="text" class="form-control" id="task_text" name="task_text" placeholder="Fische füttern ...">
                    </div>
                    <div class="form-group">
                      <label for="exampleInputPassword1">Beschreibung</label>
                      <input type="text" class="form-control" id="task_description" placeholder="Vorher überprüfen ob du welche hast ..." readonly>
                    </div>
                  </div>
                  <!-- /.card-body -->
  
                  <div class="card-footer">
                    <button type="submit" class="btn btn-primary">Speichern</button>
                  </div>
                </form>
              </div>
              <!-- /.card -->

            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  {% include 'footer.html' %}
  <!-- Page specific script -->
  <script>
  $(function () {
    bsCustomFileInput.init();
  });
  </script>

